.Carousel {
    /* display: flex;
    flex-direction: row;
    height: 900px; */
    
    /* @media (max-width: 900px) {
        .carousel {
          width:auto;
          height:auto;
        }
    } */
  }

  .Carousel-bar{
    background-color: #3751FF;
  }
  
    .width-100 {
        width: 100% !important;
        height: 100vh;
      }