:root {
    /* Used for text. */
    --dark : #363740

    /* Just default white. Used for button text and wherever else needed */
    --white : #FFFFFF

    /* A little easier to look at, less strain on the eyes with the darker tone. Use for filling bg of non-button components  */
    --darker-white: #F7F8FC

    /* Used for button backgrounds and mouseover text, paired with --white as the button text if used for a button. */
    --blue : #3751FF

    /* A very pale blue, used as the general background for large containers or even the whole page */
    --bg-light : #DDE2FF

    /* A blue a bit darker than --bg-light, used as the general background for large containers or even the whole page */
    --bg-light-darker #c5ceff
}

.navbar-light{
    background-color: #F7F8FC
    
}

.logo-holder {
    color: black;
    width: 4.5rem;
    position: relative;
    padding-left: 1rem;
}


/* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background: var(--dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem 1rem 1rem;
}

.site-name {
    display: flex;
    font-size: 2rem;
} */



/* .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
}

.nav li {
    color: black;
    border-style: solid;
    padding: 0.5rem 0.8rem;
    font-size: large;
}

.nav li:hover {
    background-color: var(--blue);
} */

