h1, form {
    text-align: center;
}

#addButton {
    background-color: #c5ceff;
}

#removeButton {
    background-color: #363740;
    color: #FFFFFF;
}

.buttonDiv {
    display: flex;
    justify-content: center;
}

span {
    font-weight: bold;
}