.side {
    background: #EEEEEE;
    color: black;
    display: inline;
    justify-content: space-between;
    position: fixed;
    top: 50px;
    bottom: 0px;
}

.side li {
    padding: .5rem 0;
    font-size: large;
}

.side ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.side a {
    text-decoration: none;
}

.bi {
    fill: currentColor;
}